In [1]:
#Load Packages
import os
import numpy as np
import pandas as pd
import seaborn as sns
# Load Data Viz Pkgs
import seaborn as sns
import matplotlib.pyplot as plt
# Load Text Cleaning Pkgs
import neattext.functions as nfx
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud,STOPWORDS
from bs4 import BeautifulSoup
import re,string,unicodedata

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, ConfusionMatrixDisplay, confusion_matrix, RocCurveDisplay, PrecisionRecallDisplay

In [2]:
# Load the dataset
df = pd.read_csv('data/emotion_dataset.csv')
df.head()

,Unnamed: 0,Emotion,Text,Clean_Text
0,0,neutral,Why ?,NaN
1,1,joy,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow
2,2,sadness,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...
3,3,joy,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...
4,4,joy,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34792 entries, 0 to 34791
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  34792 non-null  int64
 1   Emotion     34792 non-null  object
 2   Text        34792 non-null  object
 3   Clean_Text  34326 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [4]:
df.describe() #descriptive statistics

         Unnamed: 0
count  34792.000000
mean   17395.500000
std    10043.729619
min        0.000000
25%     8697.750000
50%    17395.500000
75%    26093.250000
max    34791.000000

In [5]:
null = df.isnull().sum() #check for missing values
print(f"Number of missing values in each column:\n{null}")
print(f"Total number of missing values: {null.sum()}") #total missing values

Number of missing values in each column:
Unnamed: 0      0
Emotion         0
Text            0
Clean_Text    466
dtype: int64
Total number of missing values: 466

In [6]:
duplicates = df.duplicated().sum() #check for duplicate rows
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0